.home {
    padding: 120px 0;
}
.home-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.home-card {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 15px;
    padding: 20px 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #00000050;
}
.card-img-wrapper img {
    width: 100%;
    height: 180px;
}